.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50vh;
  padding: 30px;
  border: 3px solid black;
  border-radius: 40px;
}
.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  justify-content: center;
}
.input {
  padding: 15px;
  width: 90%;
  margin: 10px;
}

.button {
  width: 10vw;
  padding: 10px;
}

.heading {
  font-size: 38px;
  color: rgb(175, 129, 43);
}
