.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 40vw; */
  /* height: 50vh; */
  padding: 30px;
  border: 3px solid black;
  border-radius: 40px;
}

/* .column1 { */
/* height: 65vh; */
/* } */

.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: rgb(68, 68, 68);
  color: white;
  font-size: 16px;
  width: 10vw;
  padding: 10px;
}

.input {
  background-color: white;
  font-size: 18px;
  padding: 15px;
  width: 90%;
  margin: 10px;
}

.heading {
  font-size: 38px;
  color: rgb(175, 129, 43);
}

@media only screen and (max-width: 700px) {
  .column {
    padding: 10px;
    /* width: 65%; */
  }
  .column1 {
    /* height: 60vh; */
    margin-bottom: 20%;
  }
  .button {
    width: 70%;
  }
  .input {
    /* border: none;   */
    margin: 5px;
    padding: 5px;
  }
}
